@media screen and (min-width: 1200px) {
  .login {
    display: none; } }
@media screen and (max-width: 1199px) {
  .form-inline {
    display: none !important; } }
@media screen and (max-width: 991px) {
  .login {
    margin-left: auto;
    margin-right: 16px; }

  footer h6 {
    margin-top: 20px; }
  footer .p_left_footer,
  footer .p_right_footer {
    line-height: 20px !important;
    margin-top: 10px; } }
@media screen and (max-width: 767px) {
  h1 {
    font-size: 36px !important;
    line-height: 40px !important; }

  h2 {
    font-size: 24px !important;
    line-height: 30px !important; } }
@media screen and (max-width: 575px) {
  .navbar-brand {
    width: 124px;
    height: 32px; }

  .navbar-toggler,
  .login {
    width: 24px !important;
    height: 24px !important; }

  .login {
    background: url(../img/320.png) no-repeat center !important; }

  .navbar-toggler-icon {
    width: 15px !important;
    height: 15px !important; }
    .navbar-toggler-icon .sw-topper,
    .navbar-toggler-icon .sw-bottom,
    .navbar-toggler-icon .sw-footer {
      width: 15px !important;
      height: 2px !important; }
    .navbar-toggler-icon .sw-topper {
      top: 1px !important; }
    .navbar-toggler-icon .sw-bottom {
      top: 4px !important; }
    .navbar-toggler-icon .sw-footer {
      top: 7px !important; } }
